@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Lato:300);

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
main {
  max-width: 70em;
  margin:auto;
  text-align: left;
}

.img-wrapper {
    width: 50%;
    padding: 0 1em 1em 0;
   /* float: left;*/
  }

img {
    width: 100%;
    padding: 0 1em 1em 0;
    float: left;
  }

section.two_column {
  padding: 4em 0;
}

.second {
  padding: 0.25em;
}

.clearfix:after, .two_column:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

section {
    padding: 1.5em;
}

header {
    padding: 2em;
    width: 100%;
    float: left;
    text-align: center;
}

nav {
  margin: auto;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.25em;
  line-height: 1.5em;
  width: 100%;
}

label {
  font-weight: 200;
  letter-spacing: 0.25em;
  padding: 1em 0em 1em 0em;
  line-height: 2em;
  display: none;
  color: #fff;
  text-align: center;
} 

a:hover {
  background-color: #cccccc;
  color: rgb(57,61,64);
}

a {
  text-decoration: none;
  padding: 1em;
  color: #fff;
  display: inline-block;
}

hr {
  width: 100%;
  color: rgb(15,10,15);
}


#cover {
  background-image: url(../images/cup-hand-mug-potatoes.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 31em 0;
}


/*Code to centre align the text text-align: center;*/

body {
  line-height: 1.3;
  color: rgb(95,102,107);
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}


h1 {
    letter-spacing: .2em;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 200;
    padding-top: -0.5%
    color: rgb(57,61,64);
    width: 100%;
}


h2 {
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  font-weight: 200;
  font-family: 'Cutive Mono', sans-serif;
  padding-top: 1.5em;
}


h3 {
  font-size: 2em;
  font-family: 'Cutive Mono', sans-serif;
  color: rgb(57,61,64);
}


h3, h4, h5 {
}

#toggle {
  display: none;
}


p {
  font-size: 1.25em;
  font-style: 'Lato', sans-serif;
  color: rgb(57,61,64);
  margin-top: 1em;
}

.home {
  font-size: 1.25em;
  font-style: 'Lato', sans-serif;
  color: #c3c3c3;
}

.mail {
  font-size: 1.25em;
  font-style: 'Lato', sans-serif;
  color: #ffffff;
  text-decoration: bold;
  background-color: #cccccc;
}

footer {
  background-color: #cccccc;
  text-align: center;
}

/*iPad Landscape*/
@media only screen and (max-width: 1024px and 768px) {
  body {
    font-size: 14px;
  }
  .section.two-column {
    float: none;
    width: auto;
}
  #toggle:checked + nav {
    display: none;
  }
  nav {
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    line-height: 1.5em;
    width: 100%;
  }
  a {
   font-size: 1.2em;
   margin: none;
   padding: none;
  }
  h1 {
   font-size: 2.1em;
  }
  h2 {
   font-size: 1.5em;
   padding-top: 10em;
  }
}

/*iPad Portrait*/
@media only screen and (max-width: 737px and 1024px) {
  body {
    font-size: 14px;
  }
  .section.two-column {
    float: none;
    width: auto;
  }
  #toggle:checked + nav {
    display:block;
  }
  nav{
    display: none;
    background-color: #cccccc;
    color: rgb(57,61,64);
  }
  label {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
  }
  h1 {
    font-size: 3.8em;
  }
  h2 {
    font-size: 1.5em;
    padding-top: 8em;
    width: 98%;
    text-align: center;
  }
}

@media only screen and (max-width: 736px) {
  body {
    font-size: 13px
  }
  .img-wrapper {
    width: 95%;
  }
  img .section.two-column {
    display: none;
  }
  #toggle:checked + nav {
    display:block;
  }
  nav{
    display: none;
    background-color: #cccccc;
    color: rgb(57,61,64);
  }
  label {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
  }
  h1 {
    font-size: 3.8em;
  }
  h2 {
    font-size: 1.5em;
    padding-top: 3em;
    width: 98%;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
    padding-top: 3.8em;
    width: 98%;
    text-align: center;
  }
}

@media only screen and (max-width: 435px) {
  h1 {
    font-size: 3.9em;
  }
  h2 {
    font-size: 1.7em;
    padding-top: 7em;
    width: 98%;
    text-align: center;
  }
}

@media only screen and (max-width: 414px) {
  h1 {
    font-size: 3.8em;
  }
  h2 {
    font-size: 1.8em;
    padding-top: 6.5em;
    width: 98%;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.3em;
    padding-top: 2.5em;
    width: 98%;
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 3.8em;
  }
  h2 {
    font-size: 1.5em;
    padding-top: 3em;
    width: 98%;
    text-align: center;
  }
}

/*@media only screen and (min-width: 768px)*/
/*@media only screen and (max-width: 768px)*/
/*@media only screen and (min-width: 320px) and (max-width: 480px)*/