
h1 {
  text-align: center;
  font-size: 188px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

body {
  text-align: center;
  background-image: url("https://static.pexels.com/photos/19936/breakfast-orange-lemon-oranges.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

hr {
  width: 200px;
}

p {
  font-size: 27px;
}

div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}


#second {
	font-size: 21
	font-style: italic;
	color: rgb(167,192,255);
}

/*#name {*/
	background: white;
}

/*#hex {*/
	background: #ffffff;
}

/*#rgb {*/
	background: rgb(255,255,255);
}

/*#rgba {*/
	background: rgba(255,255,255,.8);
}